body {

  font-family: Tahoma;

  background-image: url("../img/sena.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}


.list {
  width: 50%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  /* padding: 10%; */
  font-family: Arial;
  top: 20vw;


}
#lado,#lado1,#lado2 {
  width: 30vw;
  position: relative;
  float: left;
  background-color: #39A67F;

}
#lado1{
  left: 2vw;
}
#lado2{
  left: 4vw;
}

#primero {
  width: 30vw;
  position: relative;
  overflow: auto;
  float: left;
  left: 0vw;
  background-color: #39A67F;
  min-height: 1vw;
  max-height: 25vw;
}

#buscador {
  position: relative;
  color: black;
  width: 28.5vw;
  border: 1px solid;

}


#tex {
  width: 30vw;
}

tr:hover {
  background-color: aqua;
}

#lista {
  width: 100vw;
  margin: 1vw;
  position: relative;
  left: 2vw;
  top: 3vw;
}

#l1 {
  position: relative;
  float: left;
  
  width: 29.5vw;
  overflow: auto;
  background-color: #39A67F;
  min-height: 1vw;
  max-height: 25vw;
}

#l2 {
  position: relative;
  float: left;
  margin: 1px;
  overflow: auto;
  background-color: #39A67F;
  min-height: 1vw;
  max-height: 25vw;
  width: 29.5vw;
  
}

td {
border: 1px solid;

}

li {
border: 1px solid;

}

#titulo {
  position: relative;
  width: 50vw;
  height: 4vw;
  left: 20vw;
  text-align: center;
  font-family: arial, verdana;
background-color:  rgba(204, 204, 204, 0.685);
top: 0vw;
}
th{
  background-color: rgb(41, 47, 139);

}

#volver{
  background-color: #39A67F;
  position: relative;
  left: 0vw;
  top: 0vw;
  
}
a{
  text-decoration: none;
  color: black;
}
#subir{
  bottom: 1vw;
  position: fixed;
  left: 3vw;
  z-index: 805;
}
@media screen and (max-width: 540px) {
  body{
    transform: rotate(90deg);
    background-color: #39A67F;

  }
  table{
    position: relative;
    left: 10vw;
    background-color: #ccc;

  }
  .container{
    justify-content: left;
    display:block;
  }
}
#agregarp{
  visibility: hidden;
  background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

#agregarp.active{
  visibility:visible;

  

}

#form_rap{
  position: absolute;
  width: 50vw;
  height: 9vw;
  background-color: yellow;
  left: 20vw;
}
#lista.active{
  opacity: 1;
}
#cerrar{
  position: relative;
 left: 48vw;
 cursor:pointer;

}
button{
  cursor: pointer;
}
#centrar{
  position: relative;
  left:6vw;
  top: 1vw;
}
#centrar1{
  position: relative;
  left:15vw;
  text-align: center;
  width: 20vw;
  font-size: 30px;
}