body {

  font-family: Tahoma;

  background-image: url("../img/sena.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}


.list {
  width: 50%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  /* padding: 10%; */
  font-family: Arial;
  top: 20vw;


}


#primero {

  width: 30vw;
  position: relative;
  overflow: auto;
  float: left;
  left: 0vw;
  background-color: #39A67F;
  min-height: 1vw;
  max-height: 25vw;
}

#buscador {
  position: relative;
  color: black;
  width: 28.5vw;
  border: 1px solid;

}

#tex {
  width: 30vw;
}

tr:hover {
  background-color: aqua;
}

#lista {
  width: 100vw;
  margin: 1vw;
  position: relative;
  left: 2vw;
  top: 3vw;
}

#l1 {
  position: relative;
  float: left;
  left: 1vw;
  width: 30vw;
  overflow: auto;
  border: 1px solid;
  background-color: #39A67F;
  min-height: 1vw;
  max-height: 25vw;
}

#l2 {
  position: relative;
  width: 30vw;
  float: left;
  left: 2vw;
  margin: 1px;
  overflow: auto;
  border: 1px solid;
  background-color: #39A67F;
  min-height: 1vw;
  max-height: 25vw;
}

td {
border: 1px solid;

}

li {
border: 1px solid;

}

#titulo {
  position: relative;
  width: 50vw;
  height: 4vw;
  left: 20vw;
  text-align: center;
  font-family: arial, verdana;
background-color:  rgba(204, 204, 204, 0.685);
top: 0vw;
}
th{
  background-color: rgb(41, 47, 139);

}
#agr{
  position: relative;
  left: 2vw;
  background-color: #39A67F;
  width: 26vw;
}
#agr1{
  position: relative;
  left: 2vw;
  background-color: #39A67F;
  width: 26vw;
  
}
#volver{
  background-color: #39A67F;
  position: relative;
  left: 0vw;
  top: 0vw;
  
}
a{
  text-decoration: none;
  color: black;
}
